* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: gray;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: white;
}